/* Import main Inspinia style */
@import "assets/styles/style";



* {
  box-sizing: border-box;
}

body {
  background: rgb(241, 241, 241);
  font-family: Arial, Helvetica, sans-serif;
  // display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {

  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  justify-content: center;
  clear: none;
  width: 1200px;
}

.container .header {
  width: 100%;
  display: flex;
}

.backlog {
  min-width: 20%;
  width: 20%;
  padding: 10px;
  background-color: rgb(195, 205, 223);
}

.teams {
  min-width: 20%;
  width: 20%;
  padding: 10px;
  background-color: rgb(236, 236, 152);
}

.releases {
  min-width: 80%;
  width: 80%;
  background-color: rgb(240, 199, 18);
  display: flex;
  justify-content: space-around;
}
.release {


}

.release .header{
  color: white;
  justify-content: space-around;
  font-weight: bold;
  padding-top: 10px;

}
.release .body{
  padding: 15px;
  font-size: 10px;
  width: max-content;
}

.container .row {
     display: flex !important;
}

.row .backlog {
  width: 20%;
  min-width: 20%;
  color: aquamarine;
  background-color: rebeccapurple;
}

.row .teams {
  width: 20%;
  min-width: 20%;
  color: aquamarine;
  background-color: rebeccapurple;
}

.row .releases {
  background-color: aquamarine;
}

.backlog-item {
  font-size: 12px;
  width: 200px;
height: 20px;
border: 1px solid rgb(0, 0, 0);
background-color: white;
color: black;
margin-top: 10px;
  border-radius: .5;
  padding: 2px;

}

.row .teams {

}

.teams .resources {
  display: flex;
  flex-grow: 100;
}

.team-name {
  color: rgb(26, 14, 1);
  padding-top: 20px;
}

.team-mem {
  font-size: 8px;
  color: white;
  padding-bottom: 20px;
}

.teams .resources .current{
  float: left;
  /* background-color: purple; */
  width: 50%;
  display: flex;
  align-items:flex-end;

}


.teams .resources .hiring-need{
  float: right;
  width: 50%;
  font-size: 8px;
  align-items:flex-end;
  display: flex;
}

.hiring-need {
  justify-content: right;
}
.be .be-resource {
  border: 1px solid rgb(255, 255, 255);
  margin: 2px;
  background-color: rgb(153, 233, 187);
  color: black;
  font-size: 8px;

}
.fe .fe-resource {
  border: 1px solid rgb(255, 255, 255);
  margin: 2px;

  background-color: rgb(172, 161, 223);
  color: black;
  font-size: 8px;
}

.qa .qa-resource {
  border: 1px solid rgb(255, 255, 255);
  margin: 2px;

  background-color: rgb(212, 117, 138);
  color: black;
  font-size: 8px;
}


.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff;
}

.nav-fill .nav-item {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified .nav-item {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.circles{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #eee;
  border : 2px solid #fff;
  text-align: center;
  line-height: 100px;

}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

body.modal-open .animated {
  animation-fill-mode: initial;
  z-index: inherit;
}


/* Nestable list */
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}
.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dd-list .dd-list {
  padding-left: 30px;
}
.dd-collapsed .dd-list {
  display: none;
}
.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}
.dd-handle {
  display: block;
  margin: 5px 0;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  border: 1px solid #e7eaec;
  background: #f5f5f5;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.dd-handle span {
  font-weight: bold;
}
.dd-handle:hover {
  background: #f0f0f0;
  cursor: pointer;
  font-weight: bold;
}
.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}
.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}
.dd-item > button[data-action="collapse"]:before {
  content: '-';
}
#nestable2 .dd-item > button {
  font-family: FontAwesome;
  height: 34px;
  width: 33px;
  color: #c1c1c1;
}
#nestable2 .dd-item > button:before {
  content: "\f067";
}
#nestable2 .dd-item > button[data-action="collapse"]:before {
  content: "\f068";
}
.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff), -webkit-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
  background-image: -moz-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff), -moz-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
  background-image: linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff), linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
.dd-dragel {
  position: absolute;
  z-index: 9999;
  pointer-events: none;
}
.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}
.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}
/**
* Nestable Extras
*/
.nestable-lists {
  display: block;
  clear: both;
  padding: 30px 0;
  width: 100%;
  border: 0;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}
#nestable-menu {
  padding: 0;
  margin: 10px 0 20px 0;
}
#nestable-output,
#nestable2-output {
  width: 100%;
  font-size: 0.75em;
  line-height: 1.333333em;
  font-family: open sans, lucida grande, lucida sans unicode, helvetica, arial, sans-serif;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#nestable2 .dd-handle {
  color: inherit;
  border: 1px dashed #e7eaec;
  background: #f3f3f4;
  padding: 10px;
}
#nestable2 span.label {
  margin-right: 10px;
}
#nestable-output,
#nestable2-output {
  font-size: 12px;
  padding: 25px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
