<nav class="navbar-default navbar-static-side" role="navigation" style="background-color: #293846; height: 100%;border-left: 4px solid #19aa8d; padding-top: 60px;">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li [ngClass]="{active: activeRoute('starter')}">
        <a href="#" style="cursor: default"><i class="fa fa-th-large"></i> <span class="nav-label">Quick Links</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('starter')}" style="margin-left: 10px;">
        <a href="https://docs.google.com/spreadsheets/d/1QvTo5di2FrcsOF56u3ZHl-W_Esz2A5JtcUe3hxvhOsA/edit#gid=2006348551"
          target="_blank"><i class="fa fa-external-link"></i> <span class="nav-label">Teams</span></a>
      </li>

      <li [ngClass]="{active: activeRoute('starter')}" style="margin-left: 10px;">
        <a href="https://docs.google.com/spreadsheets/d/1QvTo5di2FrcsOF56u3ZHl-W_Esz2A5JtcUe3hxvhOsA/edit#gid=1652607352"
           target="_blank"><i class="fa fa-external-link"></i> <span class="nav-label">Releases</span></a>
      </li>

      <li [ngClass]="{active: activeRoute('starter')}" style="margin-left: 10px;">
        <a href="https://smartoci.atlassian.net/jira/dashboards/last-visited"
           target="_blank"><i class="fa fa-external-link"></i> <span class="nav-label">Jira</span></a>
      </li>


    </ul>

  </div>
</nav>
