{
    "mongoURI": "mongodb+srv://innovationhub:Ob0L9PNCEcium1Y4@innovationhub.ijafxgf.mongodb.net/?retryWrites=true&w=majority",
    "jwtSecret": "axiom-jwt-secret",
    "sheet-data-url": "http://localhost:7171/sheet-data/teams",
    "jira-token":"<JIRA-KEY>"
}