<style type="text/css">
  .release-bar {
    border-radius: 5px;
    margin: 5px 0;
    padding: 3px 0px 3px 10px;
    background-color: rgb(74, 133, 233);
    color: white;
  }
  .release-bar-box {
    padding: 0;
    cursor: pointer;
    border-left: 1px #dadce0 solid;
    border-right: 1px #dadce0 solid;
    border-bottom: 1px #dadce0 solid;
  }
</style>


<div class="row"  style="background-color: #E8E8E8">
  <div class="col-md-2 ibox-content" style="background-color: #E8E8E8">
    <h2>Releases <i class="fa fa-solid fa-arrow-right"></i></h2>
    <h2>Teams <i class="fa fa-solid fa-arrow-down"></i></h2>

  </div>
  <!-- RELEASES -->
  <div
    *ngFor="let release of releases"
    class="col-md-2"  style="background-color: #E8E8E8">
      <div style="background-color: #E8E8E8" class="row no-gutters">

        <div class="ibox-content " style="background-color: #E8E8E8">
          <h1 class="no-margins">{{ release.name }}</h1>
        </div>

        <div class="ibox-title" style="background-color: #E8E8E8">
          <div class="ibox-tools">
            <span class="label label-primary float-right">Early Access: {{ release.earlyAccess }}</span>
          </div>
        </div>

        <div class="ibox-title" style="background-color: #E8E8E8">
          <div class="ibox-tools">
            <span class="label label-info float-right">Production Access: {{ release.productionRelease }}</span>
          </div>
        </div>

      </div>
    </div>
</div>

<!-- TEAMS -->
<div class="release-bar-box" *ngFor="let team of teams">
  <div class="col-md-2 ibox-title" (click)="openModal(teamModal, team.name)">
    <h1>{{ team.name }}</h1>
  </div>
  <!-- ITEMS -->
  <div style="display: grid;">
    <div class="release-bar"
      *ngFor="let item of team.items"
      [ngStyle]="{width: item.width + '%', marginLeft: item.margin + '%'}"
    >
      {{ item.name }}
    </div>
  </div>
</div>



<ng-template #teamModal>
  <div class="ibox">
    <div class="ibox-title">
        <h5>{{ teamData.name }}</h5>
    </div>
    <!-- <div class="ibox ">
      <div class="ibox-content">

          <table class="table table-bordered">
              <thead>
              <tr>
                  <th>#</th>
                  <th *ngFor="let role of teamData.roles">{{ role.name }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let role of teamData.roles">
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
              </tr>
              <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
              </tr>
              </tbody>
          </table>

      </div>
  </div> -->
    <div class="ibox-content">
        <div *ngFor="let role of teamData.roles" class="team-members">
          <strong>{{ role.name}} :</strong>
          <span *ngFor="let resource of role.resources; let last = last;">
            {{ resource.name }}{{last ? '' : ',&nbsp;'}}
          </span>
        </div>
    </div>
</div>
</ng-template>
