<style type="text/css">
  .release-bar {
    border-radius: 5px;
    border-top: 1px #c0c0c0 solid;
    margin: 5px 0;
    padding: 3px 0px 3px 10px;
    background-color: #23c6c8;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .release-bar-box {
    /* padding: 0;
    cursor: pointer;
    border-left: 1px #C0C0C0 solid;
    border-right: 1px #C0C0C0 solid;
    border-bottom: 1px #C0C0C0 solid; */
    border-bottom: 1px solid #a4a4a4;
  }

  .hide-custom {
    background-color: inherit;
    /* shape-outside: padding-box; */
    box-shadow: none;
    border: none;
    color: transparent;
  }

  .item-canvas {
    margin-top: 15px;
    background: linear-gradient(
        -90deg,
        rgba(0, 0, 0, 0.05) 1px,
        transparent 1px
      ),
      linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
      linear-gradient(-90deg, rgba(0, 0, 0, 0.04) 1px, transparent 1px),
      linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px),
      linear-gradient(
        transparent 3px,
        #f2f2f2 3px,
        #f2f2f2 78px,
        transparent 78px
      ),
      linear-gradient(-90deg, #aaa 1px, transparent 1px),
      linear-gradient(
        -90deg,
        transparent 3px,
        #f2f2f2 3px,
        #f2f2f2 78px,
        transparent 78px
      ),
      linear-gradient(#aaa 1px, transparent 1px), #f2f2f2;
    background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px,
      80px 80px, 80px 80px, 80px 80px;
  }
</style>

<div class="ibox" style="padding: 45px" *ngIf="teams.length">
  <div class="row" style="margin-left: -42px">
    <div
      class="col-md-2 ibox-content"
      style="padding-left: 45px; background-color: inherit !important"
    >
      <h1>Releases <i style="font-size: 15px;" class="fa fa-solid fa-arrow-right"></i></h1>
      <h1 style="color: #1ab394">
        Teams <i style="font-size: 15px;" class="fa fa-solid fa-arrow-down"></i>
      </h1>
    </div>
    <!-- RELEASES -->
    <div *ngFor="let release of releases" class="col-md-2">
      <div class="row no-gutters">
        <div
          class="ibox-content"
          style="background-color: inherit !important; padding-left: 1px"
        >
          <h1 class="no-margins"> <i class="fa fa-random"></i> {{ release.name }}</h1>
        </div>

        <div class="ibox-title">
          <div class="ibox-tools">
            <span class="label label-primary float-right"
              >Early Access: {{ release.earlyAccess | date: 'mediumDate'
              }}</span
            >
          </div>
        </div>

        <div class="ibox-title">
          <div class="ibox-tools">
            <span class="label label-info float-right"
              >Production Access: {{ release.productionRelease | date:
              'mediumDate' }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- TEAMS -->
  <div class="item-canvas">
    <div class="release-bar-box" *ngFor="let team of teams">
      <div
        class="col-md-2 ibox-title row no-gutters"
        style="background-color: inherit !important"
        (click)="openModal(teamModal, team.name)"
      >
        <span
          class="label label-primary float-right"
          style="
            font-size: 10px;
            padding: 10px;
            margin-top: 5px;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 120px;
            display: inline-block;"><i class="fa fa-group" style="padding-right: 5px;"></i>{{team.name}}
        </span>
      </div>
      <!-- ITEMS -->
      <div style="display: grid" class="row no-gutters">
        <div
          class="release-bar"
          *ngFor="let item of team.items"
          [ngStyle]="{width: item.width + '%', marginLeft: item.margin + '%'}"
          [class.hide-custom]="item.hide === true"
        >
          {{ item.name }}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #teamModal>
  <div
    class="wrapper wrapper-content animated fadeInRight"
    style="overflow-x: hidden"
  >
  <div class="" style="border-bottom: none !important;">
    <button type="button" class="close" (click)="closeModal()" data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
  </button>
</div>
    <div class="row">
      <div class="col-md-12">
        <div class="ibox">
          <div class="ibox-content">
            <div class="clients-list">
              <div class="ibox-title" style="text-align: center; padding-bottom: 10px">
                <span class="label-primary float-right" style="font-size: 10px;
                padding: 10px;
                margin-top: 5px;
                cursor: pointer;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 120px;
                display: inline-block;">{{ teamData.teamName }}</span>
              </div>
              <ul class="nav nav-tabs">
                <li>
                  <a class="nav-link active" [class.active]="selectedTab === 'tab-1'" data-toggle="tab" (click)="tabClicked('tab-1')"
                    ><i class="fa fa-user"></i> Roles</a
                  >
                </li>
                <li>
                  <a class="nav-link" data-toggle="tab" [class.active]="selectedTab === 'tab-2'" (click)="tabClicked('tab-2')"
                    ><i class="fa fa-briefcase"></i> Backlog</a
                  >
                </li>
              </ul>
              <div class="tab-content">
                <div id="tab-1" class="tab-pane active" [class.active]="selectedTab === 'tab-1'">
                  <div class="ibox">
                    <div class="ibox-content">
                      <div *ngFor="let role of teamData.roles; let i = index" class="dd" id="nestable2">
                        <ol class="dd-list">
                          <li class="dd-item" data-id="1">
                            <div class="dd-handle">
                              <span class="label label-info"
                                ><i class="fa fa-users"></i
                              ></span>
                              <!-- <div class="circles">
                                {{ i +1  < 4  ? getInitials(role.name , i) : '+'  +  (role.name.length - i) }}
                              </div> -->
                              {{role.name}}
                            </div>
                            <ol class="dd-list">
                              <li *ngFor="let resource of role.resources" class="dd-item" data-id="2">
                                <div class="dd-handle">
                                  <span class="label label-info"
                                    ><i class="fa fa-cog"></i
                                  ></span>
                                  <span class="float-right"> {{resource.name}} </span>
                                </div>
                              </li>
                            </ol>
                          </li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="tab-2" class="tab-pane" [class.active]="selectedTab === 'tab-2'">
                  <div class="ibox ">
                    <div class="ibox-content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="ibox">
    <div class="ibox-title">
        <h5>{{ teamData.name }}</h5>
    </div> -->
  <!-- <div class="ibox ">
      <div class="ibox-content">

          <table class="table table-bordered">
              <thead>
              <tr>
                  <th>#</th>
                  <th *ngFor="let role of teamData.roles">{{ role.name }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let role of teamData.roles">
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
              </tr>
              <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
              </tr>
              </tbody>
          </table>

      </div>
  </div> -->
  <!-- <div class="ibox-content">
        <div *ngFor="let role of teamData.roles" class="team-members">
          <strong>{{ role.name}} :</strong>
          <span *ngFor="let resource of role.resources; let last = last;">
            {{ resource.name }}{{last ? '' : ',&nbsp;'}}
          </span>
        </div>
    </div>
</div> -->
</ng-template>
